@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Page.Title</title>
    <link href="~/Movies.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>Movie Night Listing</h1>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
            &copy; @DateTime.Now.Year My Movie Site
        </div>
    
    </div>
</body>
</html>
